* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
body {
    background-color: brown;
} 

nav {
    background-color: white;
    width: 100%;
    display: flex;
    place-content: center;
    padding: 25px;
}
.nav-text {
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: 200;
    display: inherit;
    margin-top: 15px;
    margin-left: 15rem;
    gap: 9rem;
    color: black;
}
.nav-text a {
    color: black;
}
.right {
    border: 2px solid brown;
    display: inline;
    margin-left: 10rem;
    padding: 10px;
    color: white;
    background-color: brown;
}
.right:hover {
    width: 10%;
    background-color: black;
}
.images {
    margin-left: 4rem;
    position: relative;
}
.small-image img {
   padding-bottom: 10%;
   width: 8%;
   top: -5%;
   position: absolute;
}
.big-image img {
    top: -20%;
    width: 100%;
    position: relative;
}
.icon1 i {
    position: absolute;
    width: 20%;
    top: 50%;
    padding: 2rem;
}
.icon2 i {
    position: absolute;
    width: 20%;
    top: 55%;
    padding: 2rem;
}
.icon3 i {
    position: absolute;
    width: 20%;
    top: 60%;
    padding: 2rem;
}
